.label {
  top: 236px;
  left: 360px;
  height: 22px;
  text-align: left;
  font: normal normal bold 18px/22px Lato;
  letter-spacing: -0.99px;
  color: #393939;
  opacity: 1;
}

.valid {
  top: 270px;
  left: 360px;
  width: 335px;
  height: 38px;
  padding-left: 18px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
  border-radius: 21px;
  opacity: 1;
}

.invalid {
  top: 270px;
  left: 360px;
  width: 357px;
  height: 42px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid red;
  border-radius: 21px;
  opacity: 1;
}

.input-label {
  display: flex;
  flex-direction: column;
  gap: 13px;
  position: relative;
}
