.header {
  height: 70px;
  background: #000000 0% 0% no-repeat padding-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #000;
  position: sticky;
  left: 0;
  top: 0;
}

.fixed-container {
  width: 1200px;
  margin: 0px auto;
}
