.logo-left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  top: 24px;
  left: 368px;
  width: 151px;
  height: 24px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
  cursor: pointer;
}

.musical-concerts {
  top: 28px;
  left: 567px;
  width: 96px;
  height: 17px;
  text-align: left;
  font: normal normal bold 14px/17px Lato;
  letter-spacing: -0.77px;
  color: #d3d3d3;
  opacity: 1;
  text-decoration: none;
  margin-left: 25px;
  cursor: pointer;
}

.standup-comedies {
  top: 28px;
  left: 685px;
  width: 101px;
  height: 17px;
  text-align: left;
  font: normal normal bold 14px/17px Lato;
  letter-spacing: -0.77px;
  color: #d3d3d3;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.search-bar {
  top: 14px;
  left: 987px;
  width: 266px;
  height: 36px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 21px;
  opacity: 1;
  border: none;
}

li input::placeholder {
  color: #393939;
  text-align: left;
  font: normal normal bold 16px/19px Lato;
  letter-spacing: -0.88px;
  opacity: 1;
}

li input {
  padding-left: 23px;
}

.login {
  width: 102px;
  height: 42px;
  background-color: #ff48ab;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  opacity: 1;
  color: #000;
  text-align: center;
  font: normal normal 900 16px/19px Lato;
  letter-spacing: -0.88px;
  border: none;
  cursor: pointer;
}

.create-account {
  top: 14px;
  left: 1404px;
  width: 156px;
  height: 42px;
  border: 1px solid #ee47a0;
  border-radius: 20px;
  opacity: 1;
  background-color: #000;
  text-align: center;
  font: normal normal 900 16px/19px sans-serif Lato;
  letter-spacing: -0.88px;
  color: #ffffff;
  cursor: pointer;
}

.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side li {
  margin: 0px 10px;
}

.right-side {
  display: flex;
  gap: 10px;
  list-style: none;
}

/* ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
} */
