.card-container {
  display: flex;
  gap: 15px;
}

.left-card {
  width: 259px;
  height: 153px;
  display: flex;
}
.right-card {
  /* width: 296px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-inside-card {
  border-radius: 20px;
  opacity: 1;
  width: 100%;
  height: 100%;
}

.card-title {
  text-align: left;
  font: normal normal bold 24px/29px Lato;
  letter-spacing: -1.32px;
  color: #000000;
  opacity: 1;
  width: 75px;
  height: 29px;
  margin: 0px;
}

.card-date {
  width: 107px;
  height: 22px;
  text-align: left;
  font: normal normal bold 18px/22px Lato;
  letter-spacing: -0.99px;
  color: #ff48ab;
  opacity: 1;
}

.card-text {
  text-align: left;
  font: normal normal normal 14px/17px Lato;
  letter-spacing: -0.77px;
  color: #393939;
  opacity: 1;
  margin: 0px;
  padding-top: 5px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}

.card-location {
  text-align: left;
  font: normal normal bold 14px/17px Lato;
  letter-spacing: -0.77px;
  color: #393939;
  opacity: 1;
}

.card-btn {
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  width: 128px;
  height: 33px;
  color: #fff;
  font: normal normal normal 14px/17px Lato;
}
