.button {
  top: 437px;
  left: 589px;
  width: 357px;
  height: 42px;
  background: #ff48ab 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  text-align: center;
  font: normal normal bold 16px/19px Lato;
  letter-spacing: -0.88px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.big-btn {
  top: 437px;
  left: 589px;
  width: 128px;
  height: 42px;
  background: var(--unnamed-color-ff48ab) 0% 0% no-repeat padding-box;
  background: #ff48ab 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  text-align: center;
  font: normal normal bold 16px/19px Lato;
  letter-spacing: -0.88px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
