.main-concerts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.limited-rows {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
