.reset-pass-inputs {
  width: 520px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.reset-pass-btn {
  margin-bottom: 80px;
}
