.menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: inherit;
}

.right-side-menu {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 60px;
  list-style: none;
}

.menu-link {
  font-size: 18px;
  list-style: none;
  text-decoration: none;
  text-align: left;
  height: 22px;
  color: #393939;
  text-align: left;
  font: normal normal bold 18px/22px Lato;
  letter-spacing: -0.99px;
  opacity: 1;
  cursor: pointer;
}

.menu-link:hover,
.menu-link:active {
  color: #ff48ab;
}
